:root {
 --clr-backrgoud: #a1e9f7;
 --clr-general-container: #031114;
 --clr-containers:#042930;
 --clr-theme:#07dbf2;
 --clr-weak: #f21707 ;
 --clr-medium: #d7f207 ;
 --clr-strong: #07f24e ;
 --clr-white: #f7f3f2;
 --clr-grey: #918c8c;
}

* {
    margin: 8px;
}


body {
    min-height: 100vh;
    background-color: var(--clr-backrgoud);
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Vertical alignment */
    justify-items: center;
    align-items: center; 
    
}

#general-container {
    background-color: var(--clr-general-container);
    color: var(--clr-backrgoud);
    width: 60vw;
    height: 70vh;
    justify-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;  /* Vertical alignment */
    justify-items: center;
    align-items: center; 
    
}

#copy {
    color: var(--clr-containers);
    background-color: var(--clr-backrgoud);
    border-style: none;
    border-radius: 10px;
    opacity: 0.8;
}

#copy:hover {
    scale: 1.05;
    transition: .2s;
    opacity: 1;
}

.container {
    background-color: var(--clr-containers);
    width: 40%;
    display: flex;
    flex-direction: column;
}


#password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#length {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1rem;
}

#slidecontainer {
    width: 90%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: var(--clr-backrgoud); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }


.checkbox {
    margin-left: 20px;
}



#strength-meter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#strength-meter div {
    display: flex;
    align-items: center;
}


.indicator {
    display: flex;
    flex-direction: row;
}

.bar-strength-meter{
    width: 7px;
    height: 50%;
    background-color: var(--clr-theme);
    border-radius: 2px;
  }
  
  .bar.inactive {
    background-color: #E0E0E0; /* Gray for inactive bars */
  }

#category {
    text-transform: uppercase;
}

  #generate-button {
    background-color: var(--clr-backrgoud);
    border-radius: 0.5rem;
    border-style: none;
    width: 90%;
    height: 2rem;
    align-self: center;
    opacity: 0.8;
  }

  #generate-button:hover {
    scale: 1.05;
    transition: .2s;
    opacity: 1;
  }